

 <div class="contaniner">
  <div class="body-tarjeta">
    <h3 class="title-tarjeta"><b>{{parametros.titular}}</b></h3>

    
  
    <header>
    <img src="https://stackblitz.com/files/angular-ccyste2/github/fbronchaly/angular-electricBlog/master/src/assets/img/0_w8TA5ScSiVNWMJrQ_.jpg" alt="Avatar" class="avatar" class="profile-thumbnail">
  
    <div class= "profile-name">
    <h6>Francisco J.Capelo </h6>
    <h6><small class = "text-muted">{{ parametros.fecha *1000 | date: 'MMMM, d'  }}  Lectura 10min</small></h6>
    
     </div>
      

  
   
  </header>
  <div class="redes-sociales">
   
  </div>

    <p class="text-tarjeta">{{parametros.textoArticulo}}</p>
   <img class="card-img-top" src="{{parametros.imagen}}" alt="imagen del articulo">

    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  
</div>