

 <div class="contaniner">
  <div class="body-tarjeta">
    <h3 class="title-tarjeta"><b>{{parametros.titular}}</b></h3>

    
  
    <header>
    <img src="https://stackblitz.com/files/angular-ccyste2/github/fbronchaly/angular-electricBlog/master/src/assets/img/0_w8TA5ScSiVNWMJrQ_.jpg" alt="Avatar" class="avatar" class="profile-thumbnail">
  
    <div class= "profile-name">
    <h6>Francisco J.Capelo </h6>
    <h6><small class = "text-muted">{{ parametros.fecha *1000 | date: 'MMMM, d'  }}  Lectura 10min</small></h6>
    </div> 
  </header>

<div class = "container-in  ">
   <img class="card-img-top" src="{{parametros.imagen}}" alt="imagen del articulo">
 </div>

 <div class= "container-in">
<p class="">{{parametros.tituloArticulo1}}</p>
<p class="">{{parametros.textoArticulo1}}</p>
<p class="">{{parametros.tituloArticulo2}}</p>
<p class="">{{parametros.textoArticulo2}}</p>
<p class="">{{parametros.tituloArticulo3}}</p>
<p class="">{{parametros.textoArticulo3}}</p>
<p class="">{{parametros.tituloArticulo4}}</p>
<p class="">{{parametros.textoArticulo4}}</p>
   <div>


  
</div>
</div>