<div class="jumbotron jumbotron-fluid  ">
  Por fin después de muchos años con muchas ganas de hacerlo y con permiso de la gota fría que por el momento ha cesado y nos deja tranquilos, y aprovechando el confinamiento por el COVID19, comienzo este  blog de siniestros por daños eléctricos. <br>
  
  Un blog con el fin de la ayudar a despejar dudas en determinados siniestros que pueden producir verdaderos quebraderos de cabeza y que como todo, hay que resolver convenientemente.<br>

Me gustaría comenzar con un artículo actual sobre este tipo de peritaje y la resolución que las distintas compañías con las que trabajo actúan. Ninguna es mala ni buena. Evidentemente todo es mejorable. No se trata de romper los esquemas y comenzar de cero, se trata de aplicar más filtros (si cabe), protocolo y aprendizaje efectivo para conseguir una evolución global de todos los actores (compañías, tramitadores, asistencias, peritos).<br>

En este espacio, iré publicando artículos con distinta  información aunque siempre relacionada con este tipo de siniestros. Aplicaré distintos colores a las pestañas de los artículos para que sirvan de guía rápida. <br>

Los videos que suba al blog con información técnica, van a tener el modelo de presentación pechakucha (20 diapositivas 20 segundos por diapo). Este sistema ideado en Tokio por dos afamados arquitectos, tratan de ofrecer una información veraz en corto espacio de tiempo, condensando información precisa,  transmitida en un intervalo de tiempo mínimo.<br>

</div>