.ajustes{

margin: 20px  0px 10px 0px;
}

.letras{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-style: oblique;
  font-weight: bold;
  margin: 20px  0px 20px 0px;   
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.overflow-ellipsis {
 
      width: 230px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
}
.avatar-image {
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.u-size36x36 {
    width: 36px!important;
    height: 36px!important;
}
img {
    border: 0;
}

.u-flexCenter {
  
  justify-content: center;
  align-items: center;
}
.user-detail {
 
  display: flex;
  align-items: center;
  justify-content: center;
}



.user-detail .details {
  display: flex;
  flex-direction: column;
}


.item1 {
  grid-row: 1 / span 2;
}
.item2 {
  grid-row: 1 / span 2;
}
.avatar-image{
  margin: 0px 40px 0px 0px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#thumbnail{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  }
.enLinea{
  display: inline-block;
  -webkit-column-break-inside: avoid;
}
 